<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuttwarunyu.blankbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="InlblA7o16kTwjosDmwtQz4lPnB6atJvi85VwGtV" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="Lg9SONO6KSKZZhquOYzSszjVMEFBKjeSN8zyB8Ng" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8a739f6eeb5f6b92a23670a117220b0594c7b9cb" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <activity android:name=".SingleStoryViewActivity" />
        <activity android:name=".MainViewPager"/>
        <activity android:name=".AddStoryBookActivity"/>
        <activity android:name=".LogInActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity"/>
    </application>

</manifest>
